<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="~/UserTemplate/img/favicon.ico">
    <title>Login</title>
    <link href="~/AdminTemplate/dist/css/style.min.css" rel="stylesheet">
</head>

<body>
    <div class="main-wrapper">

        <!-- Login box -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative">
            <div class="auth-box row">
                <div class="col-lg-7 col-md-5 modal-bg-img">
                    <img src="~/AdminTemplate/assets/images/big/3.jpg" alt="wrapkit">
                </div>
                <div class="col-lg-5 col-md-7 bg-white">
                    <div class="p-3">
                        <div class="text-center">
                            <img src="~/AdminTemplate/assets/images/big/icon.png" alt="wrapkit">
                        </div>
                        <h2 class="mt-3 text-center">Вхід в акаунт</h2>
                        <p class="text-center"></p>
                        <form class="mt-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark" for="uname">Пошта</label>
                                        <input class="form-control" id="uname" type="text" placeholder="Введіть свою пошту">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark" for="pwd">Пароль</label>
                                        <input class="form-control" id="pwd" type="password" placeholder="Введіть свій пароль">
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="btn btn-block btn-dark">Ввійти</button>
                                </div>
                                <div class="col-lg-12 text-center mt-5">
                                    Хочете створити акаунт? <a href="#" class="text-danger">Створити</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login box -->
    </div>

    <script src="~/AdminTemplate/assets/libs/jquery/dist/jquery.min.js "></script>
    <script src="~/AdminTemplate/assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <script src="~/AdminTemplate/assets/libs/bootstrap/dist/js/bootstrap.min.js "></script>
</body>